In [8]:
#importing the required modules
import pandas as pd

In [32]:
#function for finding nucleotide repeats
def repeat_findr(sequence):
    repeats = {}
    minimal_length = 1
    minimal_count = 2
    for sublen in range(minimal_length, int(len(sequence) / minimal_count)):
        for i in range(0, len(sequence) - sublen):
            subseq = sequence[i:i + sublen]
            count = sequence.count(subseq)
            if count >= minimal_count and subseq not in repeats:
                repeats[subseq] = count
    return repeats

In [33]:
master_array = pd.read_csv(r'Z:/balint/numt/Michael/data/numt_master_array.csv')
master_array.head()

,score,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence,g_up_flanking,g_down_flanking,"mt_up_flanking (if strand is negative, the coordinates are corrected)","mt_down_flanking (if strand is negative, the coordinates are corrected)",ensembl_gene_id,ensembl_description
0,17245,0.0,0.0,MT,0,0,17245,17245,+,+,17245,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,NaN,NaN,TACAAATTGTATAATATTTGGACTAAACCCCCTTTCCCACCCCAAG...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,ENSOCUG00000029081,NaN
1,3398,0.0,0.0,1,114731432,6976,4680,4681,+,+,194850757,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,ACAAAAGACTCTGAATAGCCAAAGCGATCCTGAACAAGAAAAATCA...,TATATATATTTATATATATATGTATATATGTACATATATATAACTA...,CCTTCGCCTCAAAACGAGAAGTAGAGACTATTGAACTAACAACCAC...,AACTGCTAATTCATGCTCCCATGTCTAACCCCATGGCTTTCTCAAC...,ENSOCUG00000006104,cilia and flagella associated protein 300 [Sou...
2,3120,0.0,0.0,GL019308,67160,883,4892,4945,+,+,88228,CAAGGCCATGAAGCATGCACACACTGCCCATCGCTCTCCTCAAACA...,CAAGGCCATGAAGCACGCACACACCGCCCGTCACCCTCCTCAAGTG...,GATAAACCCCGATAAACTTTACCACTCTTTGCCAACTCAGCCTCTA...,ATGAAGGGGCAAAGAGTAATTTTACAGTCGAGAGGGCTAGCAGTCA...,TACCGCCATCTTCAGCGAACCCTAAAAAGGAGCAAAAGTAAGCTCA...,TAGGGGCTATTAACTTTATTACAACTATTATTAATATGAAAGCCCC...,ENSOCUG00000031196,NaN
3,1888,0.0,0.0,GL019308,62527,12805,3439,3462,+,+,88228,AATTATTCATAGCCTCAATGATGAACAAGACATCCAAAAAACAGGA...,AATTATTCACAGCCTcaaTGATGAACAGGATATCCGAAAGATAGGC...,GTAGGAATTATATCCTTCCTCCTCATCGGCTGATGGCATGGCCAAG...,ACGTATACATGAGTTGTTCTTACATAATTGAATATACCTGCAATGC...,TGCCTAGGCGCAATCACTACCTTATTCACAGCCCTATGTGCCCTCA...,GTACACCCGTACGCACGCACGTACACCCGTACGCACGCACGTACAC...,ENSOCUG00000037635,NaN
4,1824,0.0,0.0,AAGW02081594,14016,6061,3040,3073,+,+,24576,TTCTTTGGACACCCTGAGGTATATATTCTTATCCTTCCAGGATTCG...,TTTTTCGGGCACCCCGAAGTATATATTCTTATTCTTCCAGGATTTG...,GACATGTCAAAGGAACGCAGAAGCCAGCTTGAAAAAGTCCTCAACA...,TGAAATAGCTATCACTATTCAGGTATGCCACTATTCTTCTAGGCAT...,ATATGAAAGCCCCTGCAATATCTCAATATCAAACCCCCTTATTCGT...,ATTCTCCTAGGTATCTATTTTACCCTACTTCAAGCATCGGAGTATT...,NaN,NaN

In [40]:
ta_repeats = []
for sequence in master_array['g_up_flanking']:
    if type(sequence) == str:
        try:
            ta_repeats.append(repeat_findr(sequence)['TA'] + repeat_findr(sequence)['AT'])
        except KeyError:
            pass

In [41]:
ta_repeats

[43,
 34,
 47,
 38,
 10,
 28,
 12,
 41,
 34,
 7,
 6,
 46,
 36,
 35,
 42,
 27,
 7,
 19,
 28,
 9,
 29,
 43,
 21,
 16,
 36,
 38,
 18,
 36,
 47,
 47,
 31,
 50,
 11,
 47,
 31,
 16,
 17,
 19,
 18,
 12,
 17,
 47,
 36,
 31,
 18,
 8,
 11,
 22,
 53,
 35,
 29,
 16,
 46,
 37,
 23,
 23,
 37,
 30,
 38,
 32,
 28,
 66,
 47,
 48,
 38,
 37,
 36,
 45,
 39,
 32,
 26,
 34,
 35,
 7,
 34,
 7,
 41,
 28,
 25,
 43,
 28,
 25,
 32,
 30,
 26,
 58,
 20,
 20,
 20,
 20,
 10,
 37,
 39,
 48,
 18,
 13,
 42,
 18,
 53,
 39,
 28,
 28,
 25,
 34,
 36,
 37,
 51,
 37,
 65,
 36,
 33,
 31,
 68,
 53,
 12,
 36,
 21,
 19,
 12,
 12,
 36,
 38,
 36,
 29,
 34,
 31,
 36,
 23,
 43,
 61,
 35,
 36,
 21,
 36,
 35,
 15,
 37,
 36,
 36,
 9,
 36,
 30,
 42,
 9]