In [1]:
#importing the modules
import os
import numpy as np
import pandas as pd

In [2]:
home_dir=os.path.join(r'Z:\balint\numt/')

In [3]:
numts=pd.read_csv(home_dir+r'Michael/data/numt_master_array.csv',
                 index_col=0)
numts.head()

,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence,g_up_flanking,g_down_flanking,"mt_up_flanking (if strand is negative, the coordinates are corrected)","mt_down_flanking (if strand is negative, the coordinates are corrected)",ensembl_gene_id,ensembl_description
score,,,,,,,,,,,,,,,,,,
17245,0.0,0.0,MT,0,0,17245,17245,+,+,17245,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,NaN,NaN,TACAAATTGTATAATATTTGGACTAAACCCCCTTTCCCACCCCAAG...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,ENSOCUG00000029081,NaN
3398,0.0,0.0,1,114731432,6976,4680,4681,+,+,194850757,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,ACAAAAGACTCTGAATAGCCAAAGCGATCCTGAACAAGAAAAATCA...,TATATATATTTATATATATATGTATATATGTACATATATATAACTA...,CCTTCGCCTCAAAACGAGAAGTAGAGACTATTGAACTAACAACCAC...,AACTGCTAATTCATGCTCCCATGTCTAACCCCATGGCTTTCTCAAC...,ENSOCUG00000006104,cilia and flagella associated protein 300 [Sou...
3120,0.0,0.0,GL019308,67160,883,4892,4945,+,+,88228,CAAGGCCATGAAGCATGCACACACTGCCCATCGCTCTCCTCAAACA...,CAAGGCCATGAAGCACGCACACACCGCCCGTCACCCTCCTCAAGTG...,GATAAACCCCGATAAACTTTACCACTCTTTGCCAACTCAGCCTCTA...,ATGAAGGGGCAAAGAGTAATTTTACAGTCGAGAGGGCTAGCAGTCA...,TACCGCCATCTTCAGCGAACCCTAAAAAGGAGCAAAAGTAAGCTCA...,TAGGGGCTATTAACTTTATTACAACTATTATTAATATGAAAGCCCC...,ENSOCUG00000031196,NaN
1888,0.0,0.0,GL019308,62527,12805,3439,3462,+,+,88228,AATTATTCATAGCCTCAATGATGAACAAGACATCCAAAAAACAGGA...,AATTATTCACAGCCTcaaTGATGAACAGGATATCCGAAAGATAGGC...,GTAGGAATTATATCCTTCCTCCTCATCGGCTGATGGCATGGCCAAG...,ACGTATACATGAGTTGTTCTTACATAATTGAATATACCTGCAATGC...,TGCCTAGGCGCAATCACTACCTTATTCACAGCCCTATGTGCCCTCA...,GTACACCCGTACGCACGCACGTACACCCGTACGCACGCACGTACAC...,ENSOCUG00000037635,NaN
1824,0.0,0.0,AAGW02081594,14016,6061,3040,3073,+,+,24576,TTCTTTGGACACCCTGAGGTATATATTCTTATCCTTCCAGGATTCG...,TTTTTCGGGCACCCCGAAGTATATATTCTTATTCTTCCAGGATTTG...,GACATGTCAAAGGAACGCAGAAGCCAGCTTGAAAAAGTCCTCAACA...,TGAAATAGCTATCACTATTCAGGTATGCCACTATTCTTCTAGGCAT...,ATATGAAAGCCCCTGCAATATCTCAATATCAAACCCCCTTATTCGT...,ATTCTCCTAGGTATCTATTTTACCCTACTTCAAGCATCGGAGTATT...,NaN,NaN

In [40]:
#get the cromosomes
chr_mask=numts['g_id'].apply(lambda g_id: len(g_id) < 3 and g_id!='MT')
chr_numts=numts[chr_mask]
chr_numts.head()

,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence,g_up_flanking,g_down_flanking,"mt_up_flanking (if strand is negative, the coordinates are corrected)","mt_down_flanking (if strand is negative, the coordinates are corrected)",ensembl_gene_id,ensembl_description
score,,,,,,,,,,,,,,,,,,
3398,0.000000e+00,0.000000e+00,1,114731432,6976,4680,4681,+,+,194850757,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,ACAAAAGACTCTGAATAGCCAAAGCGATCCTGAACAAGAAAAATCA...,TATATATATTTATATATATATGTATATATGTACATATATATAACTA...,CCTTCGCCTCAAAACGAGAAGTAGAGACTATTGAACTAACAACCAC...,AACTGCTAATTCATGCTCCCATGTCTAACCCCATGGCTTTCTCAAC...,ENSOCUG00000006104,cilia and flagella associated protein 300 [Sou...
457,9.900000e-201,1.700000e-204,18,17579665,9758,1440,1483,+,+,69800736,TAGCACTAATCTTAATTTCCATTCTAGCTGTGTGCTTAGCTTATGA...,TAGCACTTATGTTAATCTCAATCTTAGCCCTTGGATTAGCCTACGA...,CCAGGTGCTTCTCCTGGTCTCCCATGGGGTGCAGGGCCCAAGCACT...,AAGGTGTTACCACTAACAACAACATATGTTGACTGCGAGCAACTAG...,ACTCCCTCAATTAAATATCTATTCAGAAAAATCAAGCCCTTATGAA...,GACTATTCTTCCACTAATAGCAGCATGATGACTAGTTGCTAGCCTT...,NaN,NaN
348,7.600000e-149,1.300000e-152,9,78086277,13328,720,732,+,+,116251907,TTCAACTTCTCTAACCTCTTAGGATTTTTCCCTACAACAATACACC...,TTTAACTTCTCAAACATACTAGGGTTCTTTCCAATGACAATTCATC...,CAAGGTGATCAATGCCTGGGTGTTAGCCCTTAGAGGGTGCAGTGGT...,AGCTACAAATATAACATTTTTATTTATTTATTTATTTTAGAGTTAT...,CTATTAAACGCCTTGCACTAGGAAGCATTTTTGCAGGATTCTTAAT...,CCATCACAAACATTACACTTAATAAAAACACTACGTATGTCATAGT...,ENSOCUG00000000711,KIAA1328 [Source:HGNC Symbol;Acc:HGNC:29248]
267,2.700000e-110,4.800000e-114,12,96965407,17061,419,402,+,+,155355395,TTGGGACTAaacccccctttccccacccccaaaGTCAGGACAGCTC...,TTTGGACTAAACCCCCTTTCCCACCCC----AAGTCAG-ACAGCTC...,CAAATGGATAGATTAAAAAAAAACTAAACTTCAAAAGATGCCAGAA...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,TTTTCCTTTTAACAGGTTTAACTCAATTAAATACAAATTGTATAAT...,ACCACACCCCCAAGGGATACAGCAGTGATAAATATTTAGCAATGAA...,ENSOCUG00000011814,sestrin 1 [Source:HGNC Symbol;Acc:HGNC:21595]
248,3.000000e-101,5.300000e-105,17,53752087,10520,595,597,+,+,85008467,CATTTTCAGCCACCGAATTAATCATAGTTTATATCTTATTCGAAGC...,CATTTTCAGCCACAGAATTTATCCTGTTTTATATTCTATTTGAAGC...,AAAATAGCTAAGGGCAGAGAGTAGAGCTTCCACTTAGCAGTTGAGA...,CATCTTAAAAGCCACAGGCAGATCGTGTAATACTGATTTAGAGAGG...,TAATCAGCCAAGTGACACCAACCTAAACTTCTCAACCACATTTTTT...,GCTTTATAGGCGCCACCGCTCTAATAATCGCACATGGCCTTACTTC...,NaN,NaN

In [59]:
chr_numts.loc[chr_numts['g_id']=='1']

,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence,g_up_flanking,g_down_flanking,"mt_up_flanking (if strand is negative, the coordinates are corrected)","mt_down_flanking (if strand is negative, the coordinates are corrected)",ensembl_gene_id,ensembl_description
score,,,,,,,,,,,,,,,,,,
3398,0.000000e+00,0.000000e+00,1,114731432,6976,4680,4681,+,+,194850757,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,ACAAAAGACTCTGAATAGCCAAAGCGATCCTGAACAAGAAAAATCA...,TATATATATTTATATATATATGTATATATGTACATATATATAACTA...,CCTTCGCCTCAAAACGAGAAGTAGAGACTATTGAACTAACAACCAC...,AACTGCTAATTCATGCTCCCATGTCTAACCCCATGGCTTTCTCAAC...,ENSOCUG00000006104,cilia and flagella associated protein 300 [Sou...
246,2.700000e-100,4.800000e-104,1,75610052,6082,698,716,+,+,194850757,TATATTTTCACCTTATCTTGATTCAAAAAAATCTCACACATTGTAA...,TATATTCTTATTCTTCCAGGATTTGGAATAATTTCGCACATTGTGA...,TTGGGGAGTGAACCAACGGAAAGAAGACCTTTCTCTCTGTCTCTCT...,CTCAGTAATAGAGCTTGTAAGTGTGTGGCTCTCATCATAGCCCTAT...,CTCAATATCAAACCCCCTTATTCGTATGATCTGTTCTAATCACAGC...,AGAGACTATTGAACTAACAACCACAAACCTAGAATGACTTCATGGA...,NaN,NaN
232,1.200000e-93,2.200000e-97,1,75611658,14020,1012,1032,+,+,194850757,CCAGAAACAGGTGAAAGTTTTGAAGAAAACCCAATAACACTTACAA...,CCATAAATTGGTGATGGCTTAGAAGAAAACCCAACAAACCCCATCA...,CTGCCCTCCCGGGCCACAGCAGAGAGCTAGACTGGAAGAGGAGCAA...,CTTATATTTTCTTCTTTCTTTTTTTTTAAAGTTTCATTTATTTGAA...,CTAAAACGAATATACCCAAAATCATAACATTCGATCCTCAAGTCTC...,TCTAGTCCTATCCATCCTTGTTCTAGCCTTCATCCCATTCCTTCAT...,NaN,NaN
154,1.700000e-56,3.000000e-60,1,172061750,7279,375,388,+,+,194850757,TACAAATTCTGCATATAATAGATAAAAT----AATCCTTCTCTAAC...,TACGAATCCTATATATAATAGATGAAATCAACAACCCCTCTTTAAC...,TGTGGGTGCAGGGGCCCAAGGACTTCAGCCATCCTCCATTTTTCCC...,ATTTTGAATTAGGACCTAAAACATTTGAAATATTTTGGAAACTAAA...,CCCTATTATAGAAGAATTACTTCACTTTCATGACCACACTCTCATA...,CCTCGAAATAGTTCCACTTAAACACTTCGAAAACTGATCCCTATCT...,ENSOCUG00000035878,NaN
112,1.600000e-36,2.900000e-40,1,75616882,428,371,369,+,+,194850757,AAATAAAAATAAGCTATGCAAGTGACTTTCATATAATATGAATACA...,AAACAAAAATAAACAACGAAAGTGATTTT-ATACTCTTCGAACTCA...,GCGCTGGGCCCTGGAGAAAGCTTCTTGCTCTCGGCTCTGGCCTAGT...,TTTACAAAGTGAGCTTTAGACCAAAATCCTGAAACTAGAGGAACCA...,CAAGGGATACAGCAGTGATAAATATTTAGCAATGAACGTAAGTTTG...,ACTTCAGAATATACGAAAGCCCTTATGAAACTCTAAGGGCCAAAGG...,NaN,NaN
102,9.400000e-32,1.700000e-35,1,75617250,1299,467,486,+,+,194850757,TCTTTTACAAAGTGAGCTTTAGACCAAAATCCTGAAACTAGAGGAA...,TCCTTAGCAAAAAGAATTTTAGTTAAGAACCCCGAAACCAGACGAG...,TTGGCAGGGTTGCACCTCCCTCTAGCGTCTCCTGCTGTGTAGTCCA...,AGTTAACCACCAAATAAAAACAATTAATTTTTTTTTTTTTTGACAG...,CTAGCCCTATGAAACTAACACTGAACCAGAGTAATTAGCTAAACTA...,GCCCACTGATAGTTAACAGCCCCAATAGAAATAATCCACAAATTAA...,NaN,NaN
96,6.800000e-29,1.200000e-32,1,75619486,2459,393,402,+,+,194850757,CTATTAATGGCTCATTTGTTCAACAATTAACACCTTTTGTGTGATC...,CTATTAAAGGTTCGTTTGTTCAACGATTAAAGTCCTACGTGATCTG...,GGGTAAAGACCCTGGTTGGGGTGACTTGGAGCATAAAAGCCCCTCC...,AAAGTATCAGCTCCTATGTCATTACAACCAATTGCCAAAGTAAGGA...,TCGGAGTATAAATCAACCTCCGAATGATTTTAGCCTAGACCCAACA...,CATTGTAGGACCCTATGGCCTCCTCCAACCAATCGCAGACGCTATT...,NaN,NaN
210,3.700000e-83,6.500000e-87,1,75755940,10447,658,697,+,-,194850757,ACTTCTCATATTGAAGCAAAGCCTTCTCACATCATGAAGATTGTTA...,ACTTCTCGTTTTGAGGCGAAGGCTTCTCAGATTATAAAAATTATTA...,TCTTTAACTGTGGTATTTCATTGTGGAAGGGTTGACACTCTCAGTC...,AAGATAAGGTGAAAACATACAAGGGTATTTCAACAAATTTGTGGGA...,ATTCGTATGATCTGTTCTAATCACAGCCGTACTTCTTCTTCTCTCT...,AGAGACTATTGAACTAACAACCACAAACCTAGAATGACTTCATGGA...,NaN,NaN
161,7.800000e-60,1.400000e-63,1,75753972,2418,773,807,+,-,194850757,ATTTTACCTGCATTGGAGGAGATTCCTGATGGCT-GTTTGCTCCTG...,ATTTTATCTGAGTTTGAAGGAATTCCTGTGGGGTTGTTGGAGCCAG...,GAACCAGCGCCCTTATGGGATGCCGGCACTGCAGGTGGCGGCTTAA...,TGAATAGTTCCCAGTACATTAGTTGAGCCAAGAGATAAACTGGTGG...,CTAAAACGAATATACCCAAAATCATAACATTCGATCCTCAAGTCTC...,CCCTTTCCACCCCTACTACACAATCAAAGACACCCTAGGTTTCCTT...,NaN,NaN

In [92]:
def get_connections(chr_id):
    global self_connections
    global numt_connections
    subdf=chr_numts.loc[chr_numts['g_id']==chr_id]
    subdf=subdf.sort_values(by=['g_start'])
    starts=list(subdf['g_start'])
    numt_sizes=list(subdf['g_length'])
    g_id=list(subdf['g_id'])[0]
    numt_id=f'{chr_id}_numt'
    for index, element in enumerate(starts):
        if index==0:
            self_link=int(round(element/1000000,0))
            if self_link>0:
                self_connections.append([g_id,g_id,self_link,self_link])
                numt_connections.append([numt_id,g_id,10,10])
        else:
            self_link=int(round((element-(starts[index-1]+g_lengths[index-1]))/1000000,0))
            if self_link>0:
                self_connections.append([g_id,g_id,self_link,self_link])
                numt_connections.append([numt_id,g_id,10,10])

In [93]:
def get_g_size(g_id):
    subdf=chr_numts.loc[chr_numts['g_id']==g_id]
    size=int(round(list(subdf['g_size'])[0]/1000000,0))
    return size
sizes=pd.Series(np.unique(chr_numts['g_id'])).apply(get_g_size)
sizes.index=np.unique(chr_numts['g_id'])
sizes

1     195
11     88
12    155
13    143
14    164
15    109
16     84
17     85
18     70
19     57
2     174
20     33
21     16
3     156
4      91
7     174
9     116
dtype: int64

In [95]:
self_connections=[]
numt_connections=[]
pd.Series(np.unique(chr_numts['g_id'])).apply(get_connections)
self_connections=pd.DataFrame(self_connections)
numt_connections=pd.DataFrame(numt_connections)

In [96]:
frames=[self_connections, numt_connections]
connections=pd.concat(frames)

In [98]:
connections.to_csv('../../results/connections.csv', index=None)

In [99]:
connections

         0   1   2   3
0        1   1  76  76
1        1   1  39  39
2        1   1  57  57
3       11  11  32  32
4       12  12  10  10
..     ...  ..  ..  ..
28  7_numt   7  10  10
29  7_numt   7  10  10
30  9_numt   9  10  10
31  9_numt   9  10  10
32  9_numt   9  10  10

[66 rows x 4 columns]