In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D

In [2]:
home_dir=os.path.join(r'Z:\balint\numt\Michael\data/')

In [3]:
numts=pd.read_csv(home_dir+'numt_master_array.csv')
numts.head()

,score,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence,g_up_flanking,g_down_flanking,"mt_up_flanking (if strand is negative, the coordinates are corrected)","mt_down_flanking (if strand is negative, the coordinates are corrected)",ensembl_gene_id,ensembl_description
0,17245,0.0,0.0,MT,0,0,17245,17245,+,+,17245,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,NaN,NaN,TACAAATTGTATAATATTTGGACTAAACCCCCTTTCCCACCCCAAG...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,ENSOCUG00000029081,NaN
1,3398,0.0,0.0,1,114731432,6976,4680,4681,+,+,194850757,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,ACAAAAGACTCTGAATAGCCAAAGCGATCCTGAACAAGAAAAATCA...,TATATATATTTATATATATATGTATATATGTACATATATATAACTA...,CCTTCGCCTCAAAACGAGAAGTAGAGACTATTGAACTAACAACCAC...,AACTGCTAATTCATGCTCCCATGTCTAACCCCATGGCTTTCTCAAC...,ENSOCUG00000006104,cilia and flagella associated protein 300 [Sou...
2,3120,0.0,0.0,GL019308,67160,883,4892,4945,+,+,88228,CAAGGCCATGAAGCATGCACACACTGCCCATCGCTCTCCTCAAACA...,CAAGGCCATGAAGCACGCACACACCGCCCGTCACCCTCCTCAAGTG...,GATAAACCCCGATAAACTTTACCACTCTTTGCCAACTCAGCCTCTA...,ATGAAGGGGCAAAGAGTAATTTTACAGTCGAGAGGGCTAGCAGTCA...,TACCGCCATCTTCAGCGAACCCTAAAAAGGAGCAAAAGTAAGCTCA...,TAGGGGCTATTAACTTTATTACAACTATTATTAATATGAAAGCCCC...,ENSOCUG00000031196,NaN
3,1888,0.0,0.0,GL019308,62527,12805,3439,3462,+,+,88228,AATTATTCATAGCCTCAATGATGAACAAGACATCCAAAAAACAGGA...,AATTATTCACAGCCTcaaTGATGAACAGGATATCCGAAAGATAGGC...,GTAGGAATTATATCCTTCCTCCTCATCGGCTGATGGCATGGCCAAG...,ACGTATACATGAGTTGTTCTTACATAATTGAATATACCTGCAATGC...,TGCCTAGGCGCAATCACTACCTTATTCACAGCCCTATGTGCCCTCA...,GTACACCCGTACGCACGCACGTACACCCGTACGCACGCACGTACAC...,ENSOCUG00000037635,NaN
4,1824,0.0,0.0,AAGW02081594,14016,6061,3040,3073,+,+,24576,TTCTTTGGACACCCTGAGGTATATATTCTTATCCTTCCAGGATTCG...,TTTTTCGGGCACCCCGAAGTATATATTCTTATTCTTCCAGGATTTG...,GACATGTCAAAGGAACGCAGAAGCCAGCTTGAAAAAGTCCTCAACA...,TGAAATAGCTATCACTATTCAGGTATGCCACTATTCTTCTAGGCAT...,ATATGAAAGCCCCTGCAATATCTCAATATCAAACCCCCTTATTCGT...,ATTCTCCTAGGTATCTATTTTACCCTACTTCAAGCATCGGAGTATT...,NaN,NaN

In [4]:
mt_annotation=pd.read_csv(home_dir+'mitos_annotation.bed',
                         sep='\t',
                         header=None,
                         index_col=0)
mt_annotation.columns=['start','end','name','sig','strand']
mt_annotation

    start    end        name           sig strand
0
MT      0     69   trnF(ttc)  2.761000e-12      +
MT     69   1026        rrnS  1.600000e-61      +
MT   1026   1092   trnV(gta)  1.117000e-10      +
MT   1090   2671        rrnL  1.190000e-38      +
MT   2671   2746  trnL2(tta)  1.381000e-07      +
MT   2748   3699        nad1  2.354573e+08      +
MT   3703   3773   trnI(atc)  7.147000e-13      +
MT   3770   3842   trnQ(caa)  8.966000e-11      -
MT   3850   3919   trnM(atg)  5.601000e-09      +
MT   3919   4957        nad2  1.782377e+08      +
MT   4970   5037   trnW(tga)  3.962000e-11      +
MT   5039   5106   trnA(gca)  5.730000e-11      -
MT   5106   5179   trnN(aac)  6.021000e-09      -
MT   5211   5280   trnC(tgc)  1.495000e-10      -
MT   5280   5346   trnY(tac)  2.304000e-11      -
MT   5353   6889        cox1  2.902206e+08      +
MT   6897   6966  trnS2(tca)  1.693000e-09      -
MT   6969   7038   trnD(gac)  8.457000e-10      +
MT   7038   7719        cox2  1.341313e+08      +
MT   7725   7794   trnK(aaa)  2.918000e-08      +
MT   7795   7990        atp8  1.229856e+06      +
MT   7956   8631        atp6  8.400333e+07      +
MT   8636   9419        cox3  2.025450e+08      +
MT   9420   9490   trnG(gga)  4.192000e-12      +
MT   9490   9835        nad3  2.325937e+07      +
MT   9837   9904   trnR(cga)  3.514000e-09      +
MT   9905  10199       nad4l  1.198647e+07      +
MT  10195  11563        nad4  2.592970e+08      +
MT  11573  11642   trnH(cac)  7.546000e-09      +
MT  11642  11701  trnS1(agc)  8.282000e-06      +
MT  11701  11771  trnL1(cta)  1.705000e-15      +
MT  11771  13574        nad5  3.159122e+08      +
MT  13584  14103        nad6  2.969256e+07      -
MT  14103  14171   trnE(gaa)  6.400000e-10      -
MT  14174  15308         cob  2.417017e+08      +
MT  15313  15379   trnT(aca)  2.538000e-10      +
MT  15379  15445   trnP(cca)  2.588000e-12      -

In [5]:
lengths=mt_annotation['end']-mt_annotation['start']
lengths.index=mt_annotation['name']
lengths

name
trnF(ttc)       69
rrnS           957
trnV(gta)       66
rrnL          1581
trnL2(tta)      75
nad1           951
trnI(atc)       70
trnQ(caa)       72
trnM(atg)       69
nad2          1038
trnW(tga)       67
trnA(gca)       67
trnN(aac)       73
trnC(tgc)       69
trnY(tac)       66
cox1          1536
trnS2(tca)      69
trnD(gac)       69
cox2           681
trnK(aaa)       69
atp8           195
atp6           675
cox3           783
trnG(gga)       70
nad3           345
trnR(cga)       67
nad4l          294
nad4          1368
trnH(cac)       69
trnS1(agc)      59
trnL1(cta)      70
nad5          1803
nad6           519
trnE(gaa)       68
cob           1134
trnT(aca)       66
trnP(cca)       66
dtype: int64

In [112]:
#get the cromosomes
chr_mask=numts['g_id'].apply(lambda g_id: len(g_id) < 3 and g_id!='MT')
chr_numts=numts[chr_mask]
chr_numts.head()

,score,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence,g_up_flanking,g_down_flanking,"mt_up_flanking (if strand is negative, the coordinates are corrected)","mt_down_flanking (if strand is negative, the coordinates are corrected)",ensembl_gene_id,ensembl_description
1,3398,0.000000e+00,0.000000e+00,1,114731432,6976,4680,4681,+,+,194850757,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,ACAAAAGACTCTGAATAGCCAAAGCGATCCTGAACAAGAAAAATCA...,TATATATATTTATATATATATGTATATATGTACATATATATAACTA...,CCTTCGCCTCAAAACGAGAAGTAGAGACTATTGAACTAACAACCAC...,AACTGCTAATTCATGCTCCCATGTCTAACCCCATGGCTTTCTCAAC...,ENSOCUG00000006104,cilia and flagella associated protein 300 [Sou...
18,457,9.900000e-201,1.700000e-204,18,17579665,9758,1440,1483,+,+,69800736,TAGCACTAATCTTAATTTCCATTCTAGCTGTGTGCTTAGCTTATGA...,TAGCACTTATGTTAATCTCAATCTTAGCCCTTGGATTAGCCTACGA...,CCAGGTGCTTCTCCTGGTCTCCCATGGGGTGCAGGGCCCAAGCACT...,AAGGTGTTACCACTAACAACAACATATGTTGACTGCGAGCAACTAG...,ACTCCCTCAATTAAATATCTATTCAGAAAAATCAAGCCCTTATGAA...,GACTATTCTTCCACTAATAGCAGCATGATGACTAGTTGCTAGCCTT...,NaN,NaN
20,348,7.600000e-149,1.300000e-152,9,78086277,13328,720,732,+,+,116251907,TTCAACTTCTCTAACCTCTTAGGATTTTTCCCTACAACAATACACC...,TTTAACTTCTCAAACATACTAGGGTTCTTTCCAATGACAATTCATC...,CAAGGTGATCAATGCCTGGGTGTTAGCCCTTAGAGGGTGCAGTGGT...,AGCTACAAATATAACATTTTTATTTATTTATTTATTTTAGAGTTAT...,CTATTAAACGCCTTGCACTAGGAAGCATTTTTGCAGGATTCTTAAT...,CCATCACAAACATTACACTTAATAAAAACACTACGTATGTCATAGT...,ENSOCUG00000000711,KIAA1328 [Source:HGNC Symbol;Acc:HGNC:29248]
23,267,2.700000e-110,4.800000e-114,12,96965407,17061,419,402,+,+,155355395,TTGGGACTAaacccccctttccccacccccaaaGTCAGGACAGCTC...,TTTGGACTAAACCCCCTTTCCCACCCC----AAGTCAG-ACAGCTC...,CAAATGGATAGATTAAAAAAAAACTAAACTTCAAAAGATGCCAGAA...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,TTTTCCTTTTAACAGGTTTAACTCAATTAAATACAAATTGTATAAT...,ACCACACCCCCAAGGGATACAGCAGTGATAAATATTTAGCAATGAA...,ENSOCUG00000011814,sestrin 1 [Source:HGNC Symbol;Acc:HGNC:21595]
25,248,3.000000e-101,5.300000e-105,17,53752087,10520,595,597,+,+,85008467,CATTTTCAGCCACCGAATTAATCATAGTTTATATCTTATTCGAAGC...,CATTTTCAGCCACAGAATTTATCCTGTTTTATATTCTATTTGAAGC...,AAAATAGCTAAGGGCAGAGAGTAGAGCTTCCACTTAGCAGTTGAGA...,CATCTTAAAAGCCACAGGCAGATCGTGTAATACTGATTTAGAGAGG...,TAATCAGCCAAGTGACACCAACCTAAACTTCTCAACCACATTTTTT...,GCTTTATAGGCGCCACCGCTCTAATAATCGCACATGGCCTTACTTC...,NaN,NaN

In [113]:
color_dict={
    '0':'#ffffff',#white
'1':'#f97306',#orange
 '11':'#00ffff',#cyan
 '12':'#653700',#brown
 '13':'#0504aa',#royal blue
 '14':'#677a04',#olive green
 '15':'#9a0eea',#violet
 '16':'#fe01b1',#bright pink
 '17':'#0485d1',#cerulean
 '18':'#ff000d',#bright red
 '19':'#e17701',#pumpkin
 '2':'#82cafc',#sky
 '20':'#fdff52',#lemon
 '21':'#feffca',#ecru
 '3':'#c071fe',#easter purple
 '4':'#000435',#dark navy
 '7':'#bccb7a',#greenish tan
 '9':'#fdb915'#orangey yellow
           }

In [186]:
g_ids=list(chr_numts['g_id'])
mt_starts=list(chr_numts['mt_start'])
mt_lengths=list(chr_numts['mt_length'])
tracks=[]
for g_id, mt_start, mt_length in zip(g_ids, mt_starts, mt_lengths):
    mt_end=mt_start+mt_length
    if int(mt_end)>17245:
        pass
    else:
        tracks.append(g_id+','+str(mt_start)+','+str(mt_length)+','+str(mt_end))

In [188]:
df=pd.DataFrame(columns=tracks, index=tracks)

In [189]:
def df_filler(column):
    outer_range=list(np.arange(int(column.split(',')[1]), int(column.split(',')[3])))
    tracker=[]
    for index in list(df.index.values):
        inner_range=list(np.arange(int(index.split(',')[1]), int(index.split(',')[3])))
        if len(set(outer_range)&set(inner_range))==0 and len(
            set(inner_range)&set(tracker)&set(outer_range))==0 and ('cov' not in list(df[column])):
            df.loc[index][column]='cov'
            tracker+=inner_range
            tracker+=outer_range
    tracker+=outer_range

In [190]:
pd.Series(df.columns.values).apply(df_filler)
df

,"1,6976,4681,11657","18,9758,1483,11241","9,13328,732,14060","17,10520,597,11117","1,6082,716,6798","9,10988,826,11814","1,14020,1032,15052","9,13377,400,13777","19,10810,963,11773","12,0,218,218",...,"15,6261,932,7193","15,5472,689,6161","15,2372,431,2803","11,5570,865,6435","2,13115,271,13386","15,10447,533,10980","14,13855,477,14332","3,11813,224,12037","15,11679,507,12186","21,15954,320,16274"
"1,6976,4681,11657",NaN,NaN,cov,NaN,cov,NaN,cov,cov,NaN,cov,...,NaN,cov,cov,cov,cov,NaN,cov,cov,cov,cov
"18,9758,1483,11241",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,cov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"9,13328,732,14060",cov,cov,NaN,cov,NaN,cov,NaN,NaN,cov,NaN,...,NaN,NaN,NaN,NaN,NaN,cov,NaN,NaN,NaN,NaN
"17,10520,597,11117",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1,6082,716,6798",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"9,10988,826,11814",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1,14020,1032,15052",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"9,13377,400,13777",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"19,10810,963,11773",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"12,0,218,218",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"9,14066,272,14338",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"13,2231,354,2585",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1,7279,388,7667",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"2,10943,326,11269",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"18,9600,416,10016",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"17,13871,408,14279",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"7,12473,363,12836",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1,428,369,797",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"18,9484,296,9780",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1,1299,486,1785",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"17,7384,355,7739",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"16,8861,163,9024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1,2459,402,2861",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"13,5929,126,6055",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"7,6969,519,7488",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"7,12010,298,12308",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"12,9483,385,9868",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"4,3675,207,3882",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"4,7012,1706,8718",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"4,9056,1967,11023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"4,4594,1523,6117",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"4,15725,682,16407",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"18,4594,509,5103",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1,10447,697,11144",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"4,3810,1214,5024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"20,1681,616,2297",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"20,1070,478,1548",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1,2418,807,3225",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"15,6261,932,7193",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"15,5472,689,6161",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"15,2372,431,2803",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"11,5570,865,6435",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"2,13115,271,13386",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"15,10447,533,10980",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"14,13855,477,14332",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"3,11813,224,12037",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"15,11679,507,12186",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"21,15954,320,16274",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
df=df.dropna(how='all')
df

,"1,6976,4681,11657","18,9758,1483,11241","9,13328,732,14060","17,10520,597,11117","1,6082,716,6798","9,10988,826,11814","1,14020,1032,15052","9,13377,400,13777","19,10810,963,11773","12,0,218,218",...,"15,6261,932,7193","15,5472,689,6161","15,2372,431,2803","11,5570,865,6435","2,13115,271,13386","15,10447,533,10980","14,13855,477,14332","3,11813,224,12037","15,11679,507,12186","21,15954,320,16274"
"1,6976,4681,11657",NaN,NaN,cov,NaN,cov,NaN,cov,cov,NaN,cov,...,NaN,cov,cov,cov,cov,NaN,cov,cov,cov,cov
"18,9758,1483,11241",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,cov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"9,13328,732,14060",cov,cov,NaN,cov,NaN,cov,NaN,NaN,cov,NaN,...,NaN,NaN,NaN,NaN,NaN,cov,NaN,NaN,NaN,NaN

In [192]:
def generate_tracks(track):
    tracks=[]
    for index, element in enumerate(df.loc[track]):
        if element=='cov' and element not in list(df.index.values):
            tracks.append(list(df.columns.values)[index])
    tracks=pd.Series(tracks)
    tracks.index=tracks.apply(lambda element: int(element.split(',')[1]))
    tracks=list(tracks.sort_index(ascending=True))
    return tracks

In [193]:
pie_tracks=pd.Series(df.index.values).apply(generate_tracks)
pie_tracks.index=df.index.values
pie_tracks

1,6976,4681,11657     [12,0,218,218, 1,428,369,797, 20,1070,478,1548...
18,9758,1483,11241    [15,6261,932,7193, 7,6969,519,7488, 4,7012,170...
9,13328,732,14060     [1,6976,4681,11657, 4,9056,1967,11023, 12,9483...
dtype: object

In [194]:
sum(pie_tracks.apply(lambda lista: len(lista)))

48