In [1]:
#importing the required modules
import os
import numpy as np
import pandas as pd

In [6]:
home_dir = os.path.join(r'Z:\balint\numt\Michael\data/')

In [7]:
#read pandas dataframe
numt_array = pd.read_csv(home_dir + 'numt_master_array.csv')
numt_array.head()

,score,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence,g_up_flanking,g_down_flanking,"mt_up_flanking (if strand is negative, the coordinates are corrected)","mt_down_flanking (if strand is negative, the coordinates are corrected)",ensembl_gene_id,ensembl_description
0,17245,0.0,0.0,MT,0,0,17245,17245,+,+,17245,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,NaN,NaN,TACAAATTGTATAATATTTGGACTAAACCCCCTTTCCCACCCCAAG...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,ENSOCUG00000029081,NaN
1,3398,0.0,0.0,1,114731432,6976,4680,4681,+,+,194850757,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,ACAAAAGACTCTGAATAGCCAAAGCGATCCTGAACAAGAAAAATCA...,TATATATATTTATATATATATGTATATATGTACATATATATAACTA...,CCTTCGCCTCAAAACGAGAAGTAGAGACTATTGAACTAACAACCAC...,AACTGCTAATTCATGCTCCCATGTCTAACCCCATGGCTTTCTCAAC...,ENSOCUG00000006104,cilia and flagella associated protein 300 [Sou...
2,3120,0.0,0.0,GL019308,67160,883,4892,4945,+,+,88228,CAAGGCCATGAAGCATGCACACACTGCCCATCGCTCTCCTCAAACA...,CAAGGCCATGAAGCACGCACACACCGCCCGTCACCCTCCTCAAGTG...,GATAAACCCCGATAAACTTTACCACTCTTTGCCAACTCAGCCTCTA...,ATGAAGGGGCAAAGAGTAATTTTACAGTCGAGAGGGCTAGCAGTCA...,TACCGCCATCTTCAGCGAACCCTAAAAAGGAGCAAAAGTAAGCTCA...,TAGGGGCTATTAACTTTATTACAACTATTATTAATATGAAAGCCCC...,ENSOCUG00000031196,NaN
3,1888,0.0,0.0,GL019308,62527,12805,3439,3462,+,+,88228,AATTATTCATAGCCTCAATGATGAACAAGACATCCAAAAAACAGGA...,AATTATTCACAGCCTcaaTGATGAACAGGATATCCGAAAGATAGGC...,GTAGGAATTATATCCTTCCTCCTCATCGGCTGATGGCATGGCCAAG...,ACGTATACATGAGTTGTTCTTACATAATTGAATATACCTGCAATGC...,TGCCTAGGCGCAATCACTACCTTATTCACAGCCCTATGTGCCCTCA...,GTACACCCGTACGCACGCACGTACACCCGTACGCACGCACGTACAC...,ENSOCUG00000037635,NaN
4,1824,0.0,0.0,AAGW02081594,14016,6061,3040,3073,+,+,24576,TTCTTTGGACACCCTGAGGTATATATTCTTATCCTTCCAGGATTCG...,TTTTTCGGGCACCCCGAAGTATATATTCTTATTCTTCCAGGATTTG...,GACATGTCAAAGGAACGCAGAAGCCAGCTTGAAAAAGTCCTCAACA...,TGAAATAGCTATCACTATTCAGGTATGCCACTATTCTTCTAGGCAT...,ATATGAAAGCCCCTGCAATATCTCAATATCAAACCCCCTTATTCGT...,ATTCTCCTAGGTATCTATTTTACCCTACTTCAAGCATCGGAGTATT...,NaN,NaN

In [19]:
#get starts
g_ids = numt_array['g_id'].drop_duplicates()
numts_per_chr = g_ids.apply(lambda x : len(numt_array.loc[numt_array['g_id'] == x]))
numts_per_chr.index = g_ids
numts_per_chr

g_id
MT               1
1                9
GL019308         5
AAGW02081594     4
GL019326         6
GL018741         5
18               4
9                4
12               3
GL018705         1
17               3
GL018700         1
19               1
GL019465         5
GL018817         4
13               2
GL018826         8
GL018748         3
2                2
7                3
16               1
GL018786         1
GL018706         1
4                8
AAGW02081404    30
GL019271         1
GL019056         1
GL019383         2
GL019525         1
GL019149         2
GL018925         2
20               2
AAGW02083714     1
GL018992         1
AAGW02079688     3
GL019086         1
GL019010         3
15               5
GL019047         3
GL018862         2
11               1
GL019311         2
14               1
3                1
GL019235         1
21               1
GL018744         1
Name: g_id, dtype: int64

In [34]:
g_ids.tolist()

['MT',
 '1',
 'GL019308',
 'AAGW02081594',
 'GL019326',
 'GL018741',
 '18',
 '9',
 '12',
 'GL018705',
 '17',
 'GL018700',
 '19',
 'GL019465',
 'GL018817',
 '13',
 'GL018826',
 'GL018748',
 '2',
 '7',
 '16',
 'GL018786',
 'GL018706',
 '4',
 'AAGW02081404',
 'GL019271',
 'GL019056',
 'GL019383',
 'GL019525',
 'GL019149',
 'GL018925',
 '20',
 'AAGW02083714',
 'GL018992',
 'AAGW02079688',
 'GL019086',
 'GL019010',
 '15',
 'GL019047',
 'GL018862',
 '11',
 'GL019311',
 '14',
 '3',
 'GL019235',
 '21',
 'GL018744']

In [30]:
#create dictionary from the numtless sequences
def create_dictionary(g_id):
    global numtless_sequences
    filename = 'numtless_sequences/%s.fasta' % g_id
    sequence = ''
    with open (home_dir + filename) as infile:
        content = infile.readlines()
        try:
            sequence = content[1]
        except IndexError:
            pass
    numtless_sequences[g_id] = sequence
    current_index = g_ids[g_ids == g_id].index[0]
    if current_index % 5 == 0:
        print('done for %s numts!' % current_index)

In [31]:
#create vector for numtless sequences
numtless_sequences = pd.Series(index = g_ids)
g_ids.apply(create_dictionary)
numtless_sequences

C:\Users\pytho\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

done for 0 numts!
done for 20 numts!
done for 25 numts!
done for 40 numts!
done for 45 numts!
done for 65 numts!
done for 70 numts!
done for 95 numts!
done for 100 numts!
done for 105 numts!
done for 125 numts!

g_id
MT
1               AGGACCGCACAACCTTGCAGCTCAGCGACTCGTGGGGTCACACACA...
GL019308        AGCATTTCCAGCATGCAGTCTCTCCCATGAAGGTGGAGAAGGAACT...
AAGW02081594    TTATCTTTATTTCATCCATGATCAAATATTTCACCCACGATGATTA...
GL019326        GAGACTGGGAAGAAGCTCCTGGCTCCTGGCTTTGGATCAGCGCAGC...
GL018741        TAAAACTAAGAGTCATTCTAATCTTTCCTCTATATCTAATCCCAAC...
18              NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
9               CGGGGACTCCCACTAGAGGAACCAGGTGATGTCAGTTCCCAGAATC...
12              CTGAGTTCCTGGCTTCTGGCTTTGGCCTGGCTCAACCCCAGCTGCA...
GL018705        ATAATGATCAGATGATAATGGTGGTGATGATGGTGAGGATGACTCT...
17              GGTGTGGTATATGTGGTGTGTATGGTATGTGTGTGGTACTGTATGG...
GL018700        CCAGATGGATACATGAAGTATGCAGTTGCCTATGTAGTTTAGAACT...
19              NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
GL019465        ATACTTGGCTCCCCACCCAGGAGATCGCAGCTTGAGGCATCACCCC...
GL018817        ACCTAATTACAGGGCACCGGTCTATTTAAAAGATATGTTAAGGGAC...
13              TCATAATCCTAACCATAACCAAGGATTCAACCATAAATTTAAGACT...
GL018826        ACATTATAAAACATAGAGACAGTGGGTAGTGTCCCACATACATGTG...
GL018748        AATGGCCGCAACAGCGGGACCCTGGGCAATCTGAAGCCAGGAGTCA...
2               GAGTTATAAAAGAGAAGGAGAGGCAGAGAGAGAGAGAGCAGTATGA...
7               ACACACACAACACACACGACATAACAACACATACAACACACAAATA...
16              CAGAATGAGATTTCTGCACTACAGACAAGAGTCTTTTGTCGTGCCT...
GL018786        ACGCCCCGTCCAGCCAGACTGCCACTCCGCTGGCGGAACCCCCGAG...
GL018706        AGTTTGTTCCCACACAGAAACATAAAGTGAAAAATAATAGATGATT...
4               AACCAACGAGCTATGCACTTATGATATATGTGCTTTTTTTTTTTTT...
AAGW02081404
GL019271        TGCTGCCTGTGATAGAAGTCAGTTTGTAGATCACCTTGAACCCTAC...
GL019056        TACAGCATTGTACATGTTGTAACTCCCATCACTCATGGTCATATCA...
GL019383        CTAAGCCAGAGACTTAGTCAAAAGACAAAAGCCATCAGAGGAAAAA...
GL019525        TTTTAATGATGATGAAATCAGATCAGACCTATTGTCATGTTTAATC...
GL019149        CCAGATATCCATCAACTGATGACCGGATAAAGAAATCCTGGCATAC...
GL018925        AAAGTCTCAATACCTACCTAAGTCAGTTCCCAAGTCCTTTAGATTG...
20              NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
AAGW02083714    TCCCCTAACTGCATGAGTCGGTTCCGAATTCACTCTCATTGTGAGT...
GL018992        GAGGTGGTTAGAAATAGAATCCTGACTATTGTCTCCAGTTTCTCTA...
AAGW02079688    TATTCCCCAACCTCTGATAACTACCATTCTACCGTGTCTACTTCTA...
GL019086        TCTCTGGATGCGACCTTTTAGTCATTCTGGAACAAAGTCTGACCTG...
GL019010        CCCGCGGTCAGTAGCCGTCACTGGTGCTGCCACTATTGAGGCTGTC...
15              NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
GL019047        CTCCCCTTCCATTCAGTCCAGATCATTTTCGATTCTCTTTATATAC...
GL018862        CAGTCAGTCATATTCATGGCTGTTAGCCTAGTATGTGAGATTGTCT...
11              CTCACACACCCACGCGGCCTCACACACCCACGAGACCTCACACACC...
GL019311        CCAGATCCTTGGGCCCTGCATCCACATGGGAGACCAGGAGGAAACA...
14              AAATGAAGTCAGATATGGTAATCGATACTGAACTGAGGCACGGATT...
3               AAGCAGGCCAGTCCACTGTGTCACTTACAGACACAGCTGACACTGA...
GL019235        TAGCTGATGGGTATCAGTGGTTCTTGCCAGGAACCCCAGTGACCTC...
21              NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
GL018744        GCTGCATTTTATTTTGTAGACAGGCATATTTTCTTTTCCAATTGCT...
dtype: object

In [63]:
lengths = g_ids.apply(lambda x : numt_array.loc[numt_array['g_id'] == x]['g_length'].tolist())
lengths.index = g_ids
lengths

g_id
MT                                                        [17245]
1                 [4680, 698, 1012, 375, 371, 467, 393, 658, 773]
GL019308                             [4892, 3439, 1414, 837, 820]
AAGW02081594                              [3040, 2339, 1650, 577]
GL019326                       [1851, 1451, 1315, 1420, 995, 833]
GL018741                             [1945, 1590, 1074, 552, 503]
18                                          [1440, 407, 292, 482]
9                                            [720, 822, 397, 273]
12                                                [419, 216, 368]
GL018705                                                    [834]
17                                                [595, 407, 352]
GL018700                                                    [896]
19                                                          [930]
GL019465                                [930, 677, 795, 424, 916]
GL018817                                    [674, 1070, 784, 720]
13                                                     [351, 126]
GL018826                [1193, 891, 828, 635, 462, 382, 375, 301]
GL018748                                          [788, 788, 658]
2                                                      [325, 273]
7                                                 [363, 515, 290]
16                                                          [162]
GL018786                                                    [210]
GL018706                                                    [124]
4                    [197, 1695, 1961, 1501, 998, 866, 680, 1173]
AAGW02081404    [17391, 16756, 10608, 635, 614, 461, 460, 308,...
GL019271                                                   [6228]
GL019056                                                   [5970]
GL019383                                              [5141, 838]
GL019525                                                   [3547]
GL019149                                              [2656, 900]
GL018925                                              [2671, 902]
20                                                     [620, 470]
AAGW02083714                                                [630]
GL018992                                                    [629]
AAGW02079688                                     [629, 1068, 600]
GL019086                                                    [627]
GL019010                                         [1097, 596, 728]
15                                      [881, 678, 427, 506, 505]
GL019047                                          [632, 369, 243]
GL018862                                               [727, 597]
11                                                          [806]
GL019311                                               [646, 218]
14                                                          [450]
3                                                           [228]
GL019235                                                    [375]
21                                                          [321]
GL018744                                                    [319]
Name: g_id, dtype: object

In [81]:
proba = lengths['2']
proba

[325, 273]

In [79]:
sequence = numtless_sequences['2']

In [140]:
np.random.seed(0)
samples = []
for index, element in enumerate(proba):
    start = np.random.randint(0,len(sequence) - element)
    end = start + element
    print(start, end)

130329135 130329460
118924917 118925190

In [ ]:
def gc_samples()