In [195]:
#importing the modules
import os
import numpy as np
import pandas as pd

In [196]:
home_dir=os.path.join(r'Z:\balint\numt/')

In [197]:
numts=pd.read_csv(home_dir+r'Michael/data/numt_master_array.csv',
                 index_col=0)
numts.head()

,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence,g_up_flanking,g_down_flanking,"mt_up_flanking (if strand is negative, the coordinates are corrected)","mt_down_flanking (if strand is negative, the coordinates are corrected)",ensembl_gene_id,ensembl_description
score,,,,,,,,,,,,,,,,,,
17245,0.0,0.0,MT,0,0,17245,17245,+,+,17245,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,NaN,NaN,TACAAATTGTATAATATTTGGACTAAACCCCCTTTCCCACCCCAAG...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,ENSOCUG00000029081,NaN
3398,0.0,0.0,1,114731432,6976,4680,4681,+,+,194850757,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,ACAAAAGACTCTGAATAGCCAAAGCGATCCTGAACAAGAAAAATCA...,TATATATATTTATATATATATGTATATATGTACATATATATAACTA...,CCTTCGCCTCAAAACGAGAAGTAGAGACTATTGAACTAACAACCAC...,AACTGCTAATTCATGCTCCCATGTCTAACCCCATGGCTTTCTCAAC...,ENSOCUG00000006104,cilia and flagella associated protein 300 [Sou...
3120,0.0,0.0,GL019308,67160,883,4892,4945,+,+,88228,CAAGGCCATGAAGCATGCACACACTGCCCATCGCTCTCCTCAAACA...,CAAGGCCATGAAGCACGCACACACCGCCCGTCACCCTCCTCAAGTG...,GATAAACCCCGATAAACTTTACCACTCTTTGCCAACTCAGCCTCTA...,ATGAAGGGGCAAAGAGTAATTTTACAGTCGAGAGGGCTAGCAGTCA...,TACCGCCATCTTCAGCGAACCCTAAAAAGGAGCAAAAGTAAGCTCA...,TAGGGGCTATTAACTTTATTACAACTATTATTAATATGAAAGCCCC...,ENSOCUG00000031196,NaN
1888,0.0,0.0,GL019308,62527,12805,3439,3462,+,+,88228,AATTATTCATAGCCTCAATGATGAACAAGACATCCAAAAAACAGGA...,AATTATTCACAGCCTcaaTGATGAACAGGATATCCGAAAGATAGGC...,GTAGGAATTATATCCTTCCTCCTCATCGGCTGATGGCATGGCCAAG...,ACGTATACATGAGTTGTTCTTACATAATTGAATATACCTGCAATGC...,TGCCTAGGCGCAATCACTACCTTATTCACAGCCCTATGTGCCCTCA...,GTACACCCGTACGCACGCACGTACACCCGTACGCACGCACGTACAC...,ENSOCUG00000037635,NaN
1824,0.0,0.0,AAGW02081594,14016,6061,3040,3073,+,+,24576,TTCTTTGGACACCCTGAGGTATATATTCTTATCCTTCCAGGATTCG...,TTTTTCGGGCACCCCGAAGTATATATTCTTATTCTTCCAGGATTTG...,GACATGTCAAAGGAACGCAGAAGCCAGCTTGAAAAAGTCCTCAACA...,TGAAATAGCTATCACTATTCAGGTATGCCACTATTCTTCTAGGCAT...,ATATGAAAGCCCCTGCAATATCTCAATATCAAACCCCCTTATTCGT...,ATTCTCCTAGGTATCTATTTTACCCTACTTCAAGCATCGGAGTATT...,NaN,NaN

In [198]:
#get the cromosomes
scf_mask=numts['g_id'].apply(lambda g_id: len(g_id) > 3 and g_id!='MT')
scf_numts=numts[scf_mask]
scf_numts.head()

,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence,g_up_flanking,g_down_flanking,"mt_up_flanking (if strand is negative, the coordinates are corrected)","mt_down_flanking (if strand is negative, the coordinates are corrected)",ensembl_gene_id,ensembl_description
score,,,,,,,,,,,,,,,,,,
3120,0.0,0.0,GL019308,67160,883,4892,4945,+,+,88228,CAAGGCCATGAAGCATGCACACACTGCCCATCGCTCTCCTCAAACA...,CAAGGCCATGAAGCACGCACACACCGCCCGTCACCCTCCTCAAGTG...,GATAAACCCCGATAAACTTTACCACTCTTTGCCAACTCAGCCTCTA...,ATGAAGGGGCAAAGAGTAATTTTACAGTCGAGAGGGCTAGCAGTCA...,TACCGCCATCTTCAGCGAACCCTAAAAAGGAGCAAAAGTAAGCTCA...,TAGGGGCTATTAACTTTATTACAACTATTATTAATATGAAAGCCCC...,ENSOCUG00000031196,NaN
1888,0.0,0.0,GL019308,62527,12805,3439,3462,+,+,88228,AATTATTCATAGCCTCAATGATGAACAAGACATCCAAAAAACAGGA...,AATTATTCACAGCCTcaaTGATGAACAGGATATCCGAAAGATAGGC...,GTAGGAATTATATCCTTCCTCCTCATCGGCTGATGGCATGGCCAAG...,ACGTATACATGAGTTGTTCTTACATAATTGAATATACCTGCAATGC...,TGCCTAGGCGCAATCACTACCTTATTCACAGCCCTATGTGCCCTCA...,GTACACCCGTACGCACGCACGTACACCCGTACGCACGCACGTACAC...,ENSOCUG00000037635,NaN
1824,0.0,0.0,AAGW02081594,14016,6061,3040,3073,+,+,24576,TTCTTTGGACACCCTGAGGTATATATTCTTATCCTTCCAGGATTCG...,TTTTTCGGGCACCCCGAAGTATATATTCTTATTCTTCCAGGATTTG...,GACATGTCAAAGGAACGCAGAAGCCAGCTTGAAAAAGTCCTCAACA...,TGAAATAGCTATCACTATTCAGGTATGCCACTATTCTTCTAGGCAT...,ATATGAAAGCCCCTGCAATATCTCAATATCAAACCCCCTTATTCGT...,ATTCTCCTAGGTATCTATTTTACCCTACTTCAAGCATCGGAGTATT...,NaN,NaN
1344,0.0,0.0,AAGW02081594,20039,11341,2339,2362,+,+,24576,ATAGCATCCTTTTCATGATCTAATCTCACTATTATTTTAATAGGGA...,ATGGCCTCCTTCTCATGATCTAACCTCACAATCATCCTGATAGGGA...,CCAAGTACTTAGCCTGGTCTCCCATGGGGTGCAGGGCCCAAGCACT...,GGCTGGTGCTGCAGCTCAGTAGGCTAATCTTCCACCTAGCGGCGTG...,TAATCGCACATGGCCTTACTTCCTCATTATTATTCTGCCTAGCCAA...,ATCCTACCTCGTCCCCTTCAAAAACCACCCAATCCCCCATATTTTT...,NaN,NaN
1060,0.0,0.0,GL019326,66435,3956,1851,1872,+,+,81722,TATTCCTCGGCGCAATAATTACAGTATATAGCTCGCTCTGATCACC...,TATTTATAGGCACGATAATCACAGTATTTAGCTCCCACTGACTAAC...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,ATGAAGGGGCAAAGAGTAATTTTACAGTTGAGAGGGCTAGCAGTCA...,TAGCCCTCTTATTTCTAGAGCTATAGGACTTGAACCCACTCTCAAG...,TAGGGGCTATTAACTTTATTACAACTATTATTAATATGAAAGCCCC...,NaN,NaN

In [199]:
mt_annotation=pd.read_csv(home_dir+'mitos_annotation.bed',
                         sep='\t',
                         header=None)
mt_annotation.columns=['Chr','Start','End','Name','Sig','Strand']
mt_annotation

   Chr  Start    End        Name           Sig Strand
0   MT      0     69   trnF(ttc)  2.761000e-12      +
1   MT     69   1026        rrnS  1.600000e-61      +
2   MT   1026   1092   trnV(gta)  1.117000e-10      +
3   MT   1090   2671        rrnL  1.190000e-38      +
4   MT   2671   2746  trnL2(tta)  1.381000e-07      +
5   MT   2748   3699        nad1  2.354573e+08      +
6   MT   3703   3773   trnI(atc)  7.147000e-13      +
7   MT   3770   3842   trnQ(caa)  8.966000e-11      -
8   MT   3850   3919   trnM(atg)  5.601000e-09      +
9   MT   3919   4957        nad2  1.782377e+08      +
10  MT   4970   5037   trnW(tga)  3.962000e-11      +
11  MT   5039   5106   trnA(gca)  5.730000e-11      -
12  MT   5106   5179   trnN(aac)  6.021000e-09      -
13  MT   5211   5280   trnC(tgc)  1.495000e-10      -
14  MT   5280   5346   trnY(tac)  2.304000e-11      -
15  MT   5353   6889        cox1  2.902206e+08      +
16  MT   6897   6966  trnS2(tca)  1.693000e-09      -
17  MT   6969   7038   trnD(gac)  8.457000e-10      +
18  MT   7038   7719        cox2  1.341313e+08      +
19  MT   7725   7794   trnK(aaa)  2.918000e-08      +
20  MT   7795   7990        atp8  1.229856e+06      +
21  MT   7956   8631        atp6  8.400333e+07      +
22  MT   8636   9419        cox3  2.025450e+08      +
23  MT   9420   9490   trnG(gga)  4.192000e-12      +
24  MT   9490   9835        nad3  2.325937e+07      +
25  MT   9837   9904   trnR(cga)  3.514000e-09      +
26  MT   9905  10199       nad4l  1.198647e+07      +
27  MT  10195  11563        nad4  2.592970e+08      +
28  MT  11573  11642   trnH(cac)  7.546000e-09      +
29  MT  11642  11701  trnS1(agc)  8.282000e-06      +
30  MT  11701  11771  trnL1(cta)  1.705000e-15      +
31  MT  11771  13574        nad5  3.159122e+08      +
32  MT  13584  14103        nad6  2.969256e+07      -
33  MT  14103  14171   trnE(gaa)  6.400000e-10      -
34  MT  14174  15308         cob  2.417017e+08      +
35  MT  15313  15379   trnT(aca)  2.538000e-10      +
36  MT  15379  15445   trnP(cca)  2.588000e-12      -

In [231]:
informations=[]
non_annotated_length=(17245-sum(mt_annotation.apply(lambda row: row['End']-row['Start'], axis=1)))
mt_annotation.apply(lambda row: informations.append(
    ['',1,row['End']-row['Start'],969696,'mtDNA',12,252525]), axis=1)
informations.append(['',1,non_annotated_length,969696,'mtDNA',12,252525])
informations

[['', 1, 69, 969696, 'mtDNA', 12, 252525],
 ['', 1, 957, 969696, 'mtDNA', 12, 252525],
 ['', 1, 66, 969696, 'mtDNA', 12, 252525],
 ['', 1, 1581, 969696, 'mtDNA', 12, 252525],
 ['', 1, 75, 969696, 'mtDNA', 12, 252525],
 ['', 1, 951, 969696, 'mtDNA', 12, 252525],
 ['', 1, 70, 969696, 'mtDNA', 12, 252525],
 ['', 1, 72, 969696, 'mtDNA', 12, 252525],
 ['', 1, 69, 969696, 'mtDNA', 12, 252525],
 ['', 1, 1038, 969696, 'mtDNA', 12, 252525],
 ['', 1, 67, 969696, 'mtDNA', 12, 252525],
 ['', 1, 67, 969696, 'mtDNA', 12, 252525],
 ['', 1, 73, 969696, 'mtDNA', 12, 252525],
 ['', 1, 69, 969696, 'mtDNA', 12, 252525],
 ['', 1, 66, 969696, 'mtDNA', 12, 252525],
 ['', 1, 1536, 969696, 'mtDNA', 12, 252525],
 ['', 1, 69, 969696, 'mtDNA', 12, 252525],
 ['', 1, 69, 969696, 'mtDNA', 12, 252525],
 ['', 1, 681, 969696, 'mtDNA', 12, 252525],
 ['', 1, 69, 969696, 'mtDNA', 12, 252525],
 ['', 1, 195, 969696, 'mtDNA', 12, 252525],
 ['', 1, 675, 969696, 'mtDNA', 12, 252525],
 ['', 1, 783, 969696, 'mtDNA', 12, 252525],
 ['', 1, 70, 969696, 'mtDNA', 12, 252525],
 ['', 1, 345, 969696, 'mtDNA', 12, 252525],
 ['', 1, 67, 969696, 'mtDNA', 12, 252525],
 ['', 1, 294, 969696, 'mtDNA', 12, 252525],
 ['', 1, 1368, 969696, 'mtDNA', 12, 252525],
 ['', 1, 69, 969696, 'mtDNA', 12, 252525],
 ['', 1, 59, 969696, 'mtDNA', 12, 252525],
 ['', 1, 70, 969696, 'mtDNA', 12, 252525],
 ['', 1, 1803, 969696, 'mtDNA', 12, 252525],
 ['', 1, 519, 969696, 'mtDNA', 12, 252525],
 ['', 1, 68, 969696, 'mtDNA', 12, 252525],
 ['', 1, 1134, 969696, 'mtDNA', 12, 252525],
 ['', 1, 66, 969696, 'mtDNA', 12, 252525],
 ['', 1, 66, 969696, 'mtDNA', 12, 252525],
 ['', 1, 1880, 969696, 'mtDNA', 12, 252525]]

In [232]:
def scf_prep(g_id):
    global informations
    subdf=scf_numts.loc[scf_numts['g_id']==g_id]
    
    chr_start=1
    chr_end=list(subdf['g_size'])[0]
    fill=969696
    species='Scaffolds'
    size=12
    color=252525
    informations.append(['',chr_start,chr_end,fill,species,size,color])

In [233]:
scf_numts=scf_numts.sort_values(by='mt_start')
pd.Series(scf_numts['g_id'].unique()).apply(scf_prep)
informations=pd.DataFrame(informations)
informations.columns=['Chr','Start','End','fill','species','size','color']
informations

   Chr  Start      End    fill    species  size   color
0           1       69  969696      mtDNA    12  252525
1           1      957  969696      mtDNA    12  252525
2           1       66  969696      mtDNA    12  252525
3           1     1581  969696      mtDNA    12  252525
4           1       75  969696      mtDNA    12  252525
..  ..    ...      ...     ...        ...   ...     ...
62          1  2352391  969696  Scaffolds    12  252525
63          1   588789  969696  Scaffolds    12  252525
64          1   139324  969696  Scaffolds    12  252525
65          1    45853  969696  Scaffolds    12  252525
66          1  1165285  969696  Scaffolds    12  252525

[67 rows x 7 columns]

In [234]:
informations.to_csv(home_dir+'dual_karyotype_scf.csv', index=False)

In [235]:
def prepare_mt_genes(row):
    global mt_genes
    mt_genes[row['Name']]=set(np.arange(int(row['Start']),int(row['End'])))

In [236]:
mt_genes={}
mt_annotation.apply(prepare_mt_genes, axis=1)
mt_genes=pd.Series(mt_genes)
mt_genes

trnF(ttc)     {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
rrnS          {69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 8...
trnV(gta)     {1026, 1027, 1028, 1029, 1030, 1031, 1032, 103...
rrnL          {1090, 1091, 1092, 1093, 1094, 1095, 1096, 109...
trnL2(tta)    {2688, 2689, 2690, 2691, 2692, 2693, 2694, 269...
nad1          {2748, 2749, 2750, 2751, 2752, 2753, 2754, 275...
trnI(atc)     {3712, 3713, 3714, 3715, 3716, 3717, 3718, 371...
trnQ(caa)     {3840, 3841, 3770, 3771, 3772, 3773, 3774, 377...
trnM(atg)     {3850, 3851, 3852, 3853, 3854, 3855, 3856, 385...
nad2          {4096, 4097, 4098, 4099, 4100, 4101, 4102, 410...
trnW(tga)     {4992, 4993, 4994, 4995, 4996, 4997, 4998, 499...
trnA(gca)     {5039, 5040, 5041, 5042, 5043, 5044, 5045, 504...
trnN(aac)     {5120, 5121, 5122, 5123, 5124, 5125, 5126, 512...
trnC(tgc)     {5248, 5249, 5250, 5251, 5252, 5253, 5254, 525...
trnY(tac)     {5280, 5281, 5282, 5283, 5284, 5285, 5286, 528...
cox1          {5353, 5354, 5355, 5356, 5357, 5358, 5359, 536...
trnS2(tca)    {6912, 6913, 6914, 6915, 6916, 6917, 6918, 691...
trnD(gac)     {6969, 6970, 6971, 6972, 6973, 6974, 6975, 697...
cox2          {7038, 7039, 7040, 7041, 7042, 7043, 7044, 704...
trnK(aaa)     {7725, 7726, 7727, 7728, 7729, 7730, 7731, 773...
atp8          {7795, 7796, 7797, 7798, 7799, 7800, 7801, 780...
atp6          {8192, 8193, 8194, 8195, 8196, 8197, 8198, 819...
cox3          {8636, 8637, 8638, 8639, 8640, 8641, 8642, 864...
trnG(gga)     {9472, 9473, 9474, 9475, 9476, 9477, 9478, 947...
nad3          {9490, 9491, 9492, 9493, 9494, 9495, 9496, 949...
trnR(cga)     {9856, 9857, 9858, 9859, 9860, 9861, 9862, 986...
nad4l         {9905, 9906, 9907, 9908, 9909, 9910, 9911, 991...
nad4          {10195, 10196, 10197, 10198, 10199, 10200, 102...
trnH(cac)     {11573, 11574, 11575, 11576, 11577, 11578, 115...
trnS1(agc)    {11648, 11649, 11650, 11651, 11652, 11653, 116...
trnL1(cta)    {11701, 11702, 11703, 11704, 11705, 11706, 117...
nad5          {11771, 11772, 11773, 11774, 11775, 11776, 117...
nad6          {13584, 13585, 13586, 13587, 13588, 13589, 135...
trnE(gaa)     {14103, 14104, 14105, 14106, 14107, 14108, 141...
cob           {14336, 14337, 14338, 14339, 14340, 14341, 143...
trnT(aca)     {15360, 15361, 15362, 15363, 15364, 15365, 153...
trnP(cca)     {15379, 15380, 15381, 15382, 15383, 15384, 153...
dtype: object

In [237]:
#rapidtables.com/web/color/RGB_Color.html
#https://r-charts.com/colors/
colors=['FF0000',#red
       'FFA500',#orange
       'DAA520',#golden rod
       'EEE8AA',#pale golden rod
       'BDB76B',#dark khaki
       '6B8E23',#olive drab
       '228B22',#lime
       '8FBC8F',#dark sea green
       '00FFFF',#aqua
       'AFEEEE',#pale turquoise
       '7FFFD4',#aqua marine
       'B0E0E6',#powder blue
       '5F9EA0',#cadet blue
       '6495ED',#corn flower blue
       '00BFFF',#deep sky blue
       '0000FF',#blue
       '8A2BE2',#blue violet
       'BA55D3',#medium orchid
       '800080',#purple
       'D8BFD8',#thistle
       'DDA0DD',#plum
       'FF00FF',#magenta
       'FFC0CB',#pink
       'F5F5DC',#beige
       'F5DEB3',#wheat
       'D2691E',#chocolate
       'F4A460',#sandy brown
       'BC8F8F',#rosy brown
       'B0C4DE',#light steel blue
       '000000',#black
       'A9A9A9',#dark grey
       'D3D3D3',#light grey
       'FFDEAD',#navajo white
       'FFE4E1',#misty rose
       'FF69B4',#hot pink
       'E0FFFF',#light cyan
       'FFFF00',#yellow
       'FFFACD',#lemon chiffon
       'CD853F',#peru
       'E6E6FA',#lavender
       'C0C0C0',#silver
       '1E90FF',#dodger blue
       '98FB98',#pale green
       '808000',#olive
       'CD5C5C',#indian red
       'BDB76B',#dark khaki
       '2E8B57',#sea green
       '20B2AA',#light sea green
       'FF6347',#tomato
       '191970',#midnight blue
       '4169E1'#royal blue
       ]

In [238]:
#very colorful
def common_nucleotides(row):
    global dual_synteny
    global color_index
    numt_range=set(np.arange(row['mt_start'],(row['mt_start']+row['mt_length'])))
    g_id=row['g_id']
    g_start=row['g_start']
    common_collections=[]
    for index, mt_range in enumerate(mt_genes):
        common_elements=numt_range&mt_range
        if len(common_elements)>0:
            mt_start_index=list(mt_range).index(list(common_elements)[0])
            mt_end_index=list(mt_range).index(list(common_elements)[-1])
            if mt_end_index>mt_start_index:
                common_collections.append([index+1,mt_start_index,mt_end_index,
                                   list(scf_numts['g_id'].unique()).index(g_id)+1,g_start,
                                   (g_start+len(common_elements)),colors[color_index%len(colors)]])
    dual_synteny+=common_collections
    color_index+=1

In [239]:
dual_synteny=[]
color_index=0
scf_numts.apply(common_nucleotides, axis=1)
dual_synteny=pd.DataFrame(dual_synteny)
dual_synteny.columns=['Species_1','Start_1','End_1','Species_2','Start_2','End_2','fill']
dual_synteny

     Species_1  Start_1  End_1  Species_2  Start_2    End_2    fill
0            1        0     68          1    16756    16825  FF0000
1            2        0    566          1    16756    17323  FF0000
2            1        0     68          2    62558    62627  FFA500
3            2        0    956          2    62558    63515  FFA500
4            3        0     65          2    62558    62624  FFA500
..         ...      ...    ...        ...      ...      ...     ...
298         32     1182   1802         27   135575   136196  1E90FF
299         32     1182   1802         26   436746   437367  98FB98
300         32     1243   1802         24    43877    44437  808000
301         35        0   1133          9  1131178  1131987  CD5C5C
302         37       38     65          2    61315    61343  BDB76B

[303 rows x 7 columns]

In [240]:
dual_synteny.to_csv(home_dir+'dual_synteny_scf.csv',index=False)

In [248]:
scf_numts

,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence,g_up_flanking,g_down_flanking,"mt_up_flanking (if strand is negative, the coordinates are corrected)","mt_down_flanking (if strand is negative, the coordinates are corrected)",ensembl_gene_id,ensembl_description
score,,,,,,,,,,,,,,,,,,
607,4.000000e-272,6.800000e-276,AAGW02081404,16756,0,635,636,+,-,27691,tttagtctagactagaGATTTCTAGTCCAAATATTATACAATTTGT...,TTTAGCCTAGACTAGAGATTTCTAGTCCAAATATTATACAATTTGT...,GCTACTGATTAGTGTGCTTAATGTCCGCTCCTCTTGATCTAGTTTG...,GTCCAAATATTATACAATTTGTATTTAATTGAGTTATACCTGTTAA...,ACACCCGTACGCACGCACGTACACCCGTACACCCGTACACGACTAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,NaN,NaN
920,0.000000e+00,0.000000e+00,GL019326,62558,0,1315,1335,+,+,81722,GTCAATGTAGCTTAACAATAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,AATTAAAGCAATTAAATTTTTAACAAAATTTTTAGGCTTAATGAAC...,GCNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,TACAAATTGTATAATATTTGGACTAAACCCCCTTTCCCACCCCAAG...,ACCAGACGAGCTATTTATGAGCAGTTGAAAGAACGAACCCGTCCAT...,NaN,NaN
584,3.500000e-261,6.100000e-265,GL019308,66343,0,820,840,+,+,88228,GTGAATGTAGCTTAACAGTAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,TAGCCAAAGTCTCGATTAAAGCAATTAAATTTTTAACAAAATTTTT...,GGCCATGAAGCATGCACACACTGCCCATCGCTCTCCTCAAACACTA...,TACAAATTGTATAATATTTGGACTAAACCCCCTTTCCCACCCCAAG...,AGGAGGATTTAGTAGTAAATTAAGAATAGAGTGCTTAATTGAACAA...,NaN,NaN
137,2.100000e-48,3.700000e-52,AAGW02081404,5,22,156,155,+,-,27691,TAGTCCAAATATTATACAATTTGTATTTAAATTGAGTTATCCCTGT...,TAGTCCAAATATTATACAATTTGTATTTAA-TTGAGTTAAACCTGT...,GGGTT,AATTTAGTCTAAGTAAATACTGTGCGGTGATTCTTGTTTTTGGGGT...,TTTAACAGGTTTAACTCAATTAAATACAAATTGTATAATATTTGGA...,GAAATCTCTAGTCTAGGCTAAAGTTAATGTAGCTTAACAACAAAGC...,NaN,NaN
596,6.800000e-267,1.200000e-270,AAGW02081404,16930,22,614,614,+,-,27691,TAGTCCAAATATTATACAATTTGTATTTAATTGAGTTATACCTGTT...,TAGTCCAAATATTATACAATTTGTATTTAATTGAGTTAAACCTGTT...,TTGCTTTGTTGTTAAGCTACATTAACTTTAGTCTAGACTAGAGATT...,GTCCAAATATTATACAATTTGTATTTAATTGAGTTATACCTGTTAA...,ACACCCGTACGCACGCACGTACACCCGTACACCCGTACACGACTAT...,GAAATCTCTAGTCTAGGCTAAAGTTAATGTAGCTTAACAACAAAGC...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,1.100000e-151,1.900000e-155,GL019326,61315,15417,833,850,+,+,81722,GCTGAAATTCTACTTAAACTACTCTCTG-TCTAGTACTTGAACAAA...,GCTGATATTCTACTTAAACTACCCTCTGCTCTTTTACTTTAATAAA...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,ACGTATACATGAGTTGTTCTTACATAATTGAATATACCCGCAACGC...,CACCATTGGACAAGTAGCATCTGTCCTCTACTTCACCACCATCCTT...,GTACACCCGTACGCACGCACGTACACCCGTACGCACGCACGTACAC...,NaN,NaN
128,4.000000e-44,7.100000e-48,GL018748,1137760,15753,658,683,+,-,2148096,TCatttagattaatttaaAGT----CAGAAATTATTTTCTGGATAA...,TCCTTTAGGAAAATTTAAAGTTGAACTAAAATTCTATTCTGGACAA...,GGTGCTTTCTGACGCTATAATTAAAAGAATTAAAAAAATTATAATT...,GAGAAGAATGTTCTTTGGTTAGAAAATGTAGTCTGGCCGGCGCCGC...,CCCACCTAGAGGAGCCTGTTCCGTAATCGATAAACCCCGATAAACC...,CATAAAACCCTAATGAAAATTTAAATGTTACTCTAAAGAGGGACAG...,NaN,NaN
942,0.000000e+00,0.000000e+00,GL019326,62422,17114,1451,1466,+,+,81722,tttttcaatttaaaaAGCACCTTCACAATACTGACATAGCACTCTA...,TTTTGAAATTTAAAACGCACCTTTACAATACTGACATAGCACTCTA...,CCCTAAAACAATGATACAGTTATACATATTTCGATTCCTGCCAAAC...,GCNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,CTAAACCCCCTTTCCCACCCCAAGTCAGACAGCTCAGGGCATCTAA...,ACCAGACGAGCTATTTATGAGCAGTTGAAAGAACGAACCCGTCCAT...,NaN,NaN
591,1.600000e-264,2.800000e-268,GL019308,66326,17228,837,857,+,+,88228,CTCTAACCCAGGCCTAAGTGAATGTAGCTTAACAGTAAAGCAAAGC...,CTCTAGTCTAGGCTAAAGTTAATGTAGCTTAACAACAAAGCAAAGC...,TCAACTAAAAATACCTCTAGCCAAAGTCTCGATTAAAGCAATTAAA...,GGCCATGAAGCATGCACACACTGCCCATCGCTCTCCTCAAACACTA...,GGTTTAACTCAATTAAATACAAATTGTATAATATTTGGACTAAACC...,AGGAGGATTTAGTAGTAAATTAAGAATAGAGTGCTTAATTGAACAA...,NaN,NaN
16135,0.000000e+00,0.000000e+00,AAGW02081404,0,17721,16756,16769,+,-,27691,GGGTTTAGTCCAAATATTATACAATTTGTATTTAAATTGAGTTATC...,GGGTTTAGTCCAAATATTATACAATTTGTATTTAA-TTGAGTTAAA...,NaN,TTTAGTCTAGACTAGAGATTTCTAGTCCAAATATTATACAATTTGT...,TACAAATTGTATAATATTTGGACTAAACCCCCTTTCCCACCCCAAG...,CCTTTCCCACCCCAAGTCAGACAGCTCAGGGCATCTAAATTTTGAA...,ENSOCUG00000037790,NaN

In [249]:
scf_numts['g_id']

score
607      AAGW02081404
920          GL019326
584          GL019308
137      AAGW02081404
596      AAGW02081404
             ...
354          GL019326
128          GL018748
942          GL019326
591          GL019308
16135    AAGW02081404
Name: g_id, Length: 101, dtype: object

In [252]:
(scf_numts['g_id'].unique())

array(['AAGW02081404', 'GL019326', 'GL019308', 'GL018706', 'GL019086',
       'AAGW02079688', 'GL018992', 'AAGW02083714', 'GL018748', 'GL018826',
       'GL019235', 'GL019047', 'GL018744', 'GL019311', 'GL019010',
       'GL019465', 'GL018817', 'AAGW02081594', 'GL018700', 'GL018862',
       'GL019271', 'GL018705', 'GL019056', 'GL019383', 'GL018741',
       'GL018925', 'GL019149', 'GL019525', 'GL018786'], dtype=object)

In [253]:
np.unique(scf_numts['g_id'])

array(['AAGW02079688', 'AAGW02081404', 'AAGW02081594', 'AAGW02083714',
       'GL018700', 'GL018705', 'GL018706', 'GL018741', 'GL018744',
       'GL018748', 'GL018786', 'GL018817', 'GL018826', 'GL018862',
       'GL018925', 'GL018992', 'GL019010', 'GL019047', 'GL019056',
       'GL019086', 'GL019149', 'GL019235', 'GL019271', 'GL019308',
       'GL019311', 'GL019326', 'GL019383', 'GL019465', 'GL019525'],
      dtype=object)