In [1]:
#importing the required modules
import os
import time
import pandas as pd

In [2]:
#get a merged list for all the informations about alignments
start = time.time()
features = []
with open (r'Z:\balint\numt\Michael\data/significant_alignments.fasta') as infile:
    content = infile.readlines()
    for index, line in enumerate(content):
        if 'score' in line:
            score = int(line.rsplit()[1].split('=')[1])
            eg2_value = float(line.rsplit()[2].split('=')[1])
            e_value = float(line.rsplit()[3].split('=')[1])
            #genomic informations
            genomic = content[index + 1]
            genomic_id = genomic.rsplit()[1]
            genomic_start = int(genomic.rsplit()[2])
            genomic_length = int(genomic.rsplit()[3])
            genomic_strand = genomic.rsplit()[4]
            genomic_size = int(genomic.rsplit()[5])
            genomic_sequence = genomic.rsplit()[6]
            #mitochondrial informations
            mitochondrial = content[index + 2]
            mitochondrial_id = mitochondrial.rsplit()[1]
            mitochondrial_start = int(mitochondrial.rsplit()[2])
            mitochondrial_length = int(mitochondrial.rsplit()[3])
            mitochondrial_strand = mitochondrial.rsplit()[4]
            mitochondrial_size = int(mitochondrial.rsplit()[5])
            mitochondrial_sequence = mitochondrial.rsplit()[6]
            features.append([score, eg2_value, e_value, genomic_id, mitochondrial_id, genomic_start,
                            mitochondrial_start, genomic_length, mitochondrial_length, genomic_strand,
                            mitochondrial_strand, genomic_size, mitochondrial_size, genomic_sequence,
                             mitochondrial_sequence])
end = time.time()
runtime = (end - start) / 60#minutes
runtime

0.008870093027750652

In [3]:
#create dataframe and name columns
alignment_df = pd.DataFrame(features)
alignment_df.columns = ['score', 'eg2_value', 'e_value', 'g_id', 'mt_id', 'g_start', 'mt_start',
                        'g_length', 'mt_length', 'g_strand', 'mt_strand', 'g_size', 'mt_size',
                        'g_sequence', 'mt_sequence']

In [4]:
alignment_df.head()

,score,eg2_value,e_value,g_id,mt_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,mt_size,g_sequence,mt_sequence
0,17245,0.0,0.0,MT,MT,0,0,17245,17245,+,+,17245,34490,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...
1,17245,0.0,0.0,MT,MT,0,17245,17245,17245,+,+,17245,34490,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...
2,3398,0.0,0.0,1,MT,114731432,6976,4680,4681,+,+,194850757,34490,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...
3,3398,0.0,0.0,1,MT,114731432,24221,4680,4681,+,+,194850757,34490,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...
4,3120,0.0,0.0,GL019308,MT,67160,883,4892,4945,+,+,88228,34490,CAAGGCCATGAAGCATGCACACACTGCCCATCGCTCTCCTCAAACA...,CAAGGCCATGAAGCACGCACACACCGCCCGTCACCCTCCTCAAGTG...

In [16]:
#get the full sequence of the mitochondria
mt_seq = ''
with open (r'Z:\balint\numt\Michael\data\genome_parts_in_fasta/MT.fasta') as infile:
    content = infile.readlines()
    for line in content:
        if '>' not in line:
            mt_seq = line
len(mt_seq)

17245

The original problem was that in the LASTAL output if the aligned sequence is located on the '-' strand, than the indexing of that sequence part follows a strange logic. Next cells are explaining the steps.

In [6]:
mask = alignment_df['g_id'] == 'AAGW02081404'
alignment_df[mask]
mask1 = alignment_df['mt_start'] == 882
mt_sequences = alignment_df[mask1]['mt_sequence'].tolist()
alignment_df[mask1]

,score,eg2_value,e_value,g_id,mt_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,mt_size,g_sequence,mt_sequence
289,77,7.500000e-20,1.300000e-23,AAGW02081404,MT,17858,882,136,140,+,-,27691,34490,GTACGTgcgtacgtgcgtacgggtgtacgggtgtacgggtgtacgg...,gtgcgtacgggtgtacgtgcgtgcgtacgggtgtacgtgcgtgcgt...

In [18]:
mt_alignment = mt_sequences[0].upper()
mt_alignment

'GTGCGTACGGGTGTACGTGCGTGCGTACGGGTGTACGTGCGTGCGTACGGGTGTACGTGCGTGCGTACGGGTGTACGTGCGTGCGTACGGGTGTACGTGCGTGCGTACGGGTGTACGTGCGTGCGTACGGGTGTACGTGC'

In [8]:
complement_dictionary = {'A':'T',
             'C':'G',
             'T':'A',
             'G':'C'}

In [20]:
#create the reverse complement of the sequence
complement = ''
for base in mt_alignment:
    complement += complement_dictionary[base]
rc_mt_alignment = complement[::-1]
#the reverse complement is present in the full mtDNA sequence from the 16223th nucleotide
mt_full_seq.find(rc_mt_alignment)

16223

So the reverse complement of the LASTAL output is located in the mtDNA from the 16223th nucleotide. It is a good case because there are no gaps or mismatches so a simple string searching method does the work. But how can we get the indexing from the LASTAL output? The next steps gonna show us how to locate the mt alignment in mtDNA and also gonna give us a hint about how to find the falnkings in the mtDNA.

In [10]:
#this is how we can get back 16223 using the mitochondrial start position and length given by LASTAL
(len(mt_full_seq) - alignment_df[mask1]['mt_start']) - alignment_df[mask1]['mt_length']

289    16223
dtype: int64

In [11]:
#this is how we can get back 16223 using the mitochondrial start position and length given by LASTAL
(17245-882) - 140

16223

In the next steps we will see how to understand the genomic coordinates and how to locate the genomic alignment.

In [21]:
#get the scaffold
g_seq = ''
with open (r'Z:\balint\numt\Michael\data\genome_parts_in_fasta/AAGW02081404.fasta') as infile:
    content = infile.readlines()
    for line in content:
        if '>' not in line:
            g_seq = line

In [35]:
# get the genomic alignment
g_alignment = alignment_df[mask1]['g_sequence'].tolist()[0]
g_alignment = g_alignment.upper()[:100]
g_alignment

'GTACGTGCGTACGTGCGTACGGGTGTACGGGTGTACGGGTGTACGGGTGTACGGGCGTACGGGTGTACGGGTGTACGTGCGTGCGTACGGGTGTACGTGT'

In [41]:
#the genomic alignment is present in the genomic sequence
g_alignment in g_seq

True

In [39]:
g_seq.find(g_alignment)

17858

In [43]:
alignment_df[mask1]['g_start'] == g_seq.find(g_alignment)

289    True
Name: g_start, dtype: bool