In [33]:
import os
import numpy as np
import pandas as pd

In [2]:
numts=pd.read_csv('/Volumes/motilin/balint/numt/3numt_array.csv')

In [10]:
fil=numts['g_id'].apply(lambda g_id:len(g_id)<3)
chr_numts=numts[fil]

In [40]:
chrs=pd.Series(chr_numts['g_id'].unique())
chrs=chrs.apply(lambda chr_id:int(chr_id))
chrs=chrs.sort_values()
chrs

0      1
7      2
15     3
10     4
8      7
2      9
13    11
3     12
6     13
14    14
12    15
9     16
4     17
1     18
5     19
11    20
16    21
dtype: int64

In [55]:
numt_numbers=chrs.apply(lambda chr_id: len(chr_numts.loc[chr_numts['g_id']==str(chr_id)]))
numt_numbers.index=chrs
numt_size_means=chrs.apply(lambda chr_id: np.mean(chr_numts.loc[chr_numts['g_id']==str(chr_id)]['g_length'].tolist()))
numt_size_means.index=chrs
numt_size_sds=chrs.apply(lambda chr_id: np.std(chr_numts.loc[chr_numts['g_id']==str(chr_id)]['g_length'].tolist()))
numt_size_sds.index=chrs
numt_size_medians=chrs.apply(lambda chr_id: np.median(chr_numts.loc[chr_numts['g_id']==str(chr_id)]['g_length'].tolist()))
numt_size_medians.index=chrs

In [64]:
df=pd.DataFrame([
    numt_numbers,numt_size_means,numt_size_sds,numt_size_medians
]).T
df.columns=['count','size mean','size SD','size median']
df

    count    size mean      size SD  size median
1     9.0  1047.444444  1300.460868        658.0
2     2.0   299.000000    26.000000        299.0
3     1.0   228.000000     0.000000        228.0
4     8.0  1133.875000   537.269122       1085.5
7     3.0   389.333333    93.724182        363.0
9     4.0   553.000000   225.269838        558.5
11    1.0   806.000000     0.000000        806.0
12    3.0   334.333333    86.225802        368.0
13    2.0   238.500000   112.500000        238.5
14    1.0   450.000000     0.000000        450.0
15    5.0   599.400000   162.992761        506.0
16    1.0   162.000000     0.000000        162.0
17    3.0   451.333333   104.039522        407.0
18    4.0   655.250000   458.101176        444.5
19    1.0   930.000000     0.000000        930.0
20    2.0   545.000000    75.000000        545.0
21    1.0   321.000000     0.000000        321.0